<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body>
    <div id="message"><%= message %></div>
    <script>
      document.getElementById('message').innerHTML = marked.parse(
        document.getElementById('message').innerHTML
      );
    </script>
  </body>
</html>
